<div class="details-container">

  <button class="go-back" (click)="goBack()">Voltar</button>

  <section class="image-details-section">
    <img src="{{details.thumbnail}}">
  </section>

  <section class="text-details-section">
    <span *ngIf="details.type === 'comic' || 'event' || 'character'" class="text-title">
      {{details.title}}
    </span>
    <span *ngIf="details.type === 'creator'" class="text-title">
      {{details.fullName}}
    </span>

    <span *ngIf="details.type === 'comic'" class="text-published">
      <h3>Publicada:</h3>
      <p>{{details.date | date: 'mediumDate'}}</p>
    </span>

    <span *ngIf="details.type === 'event'" class="text-published">
      <h3>Período da saga:</h3>
      <p>{{details.start | date: 'longDate'}} - {{details.end | date: 'longDate'}}</p>
    </span>

    <div *ngIf="details.type === 'comic'" class="text-artists">
      <h3>Artistas envolvidos:</h3>
      <ul class="artists-list">
        <span *ngFor="let artist of details.artists">
          {{artist}}
        </span>
      </ul>
    </div>

    <div *ngIf="details.type === 'event'" class="text-characters">
      <h3>Peronagens envolvidos:</h3>
      <ul class="characters-list">
        <span *ngFor="let character of details.characters">
          {{character}}
        </span>
      </ul>
    </div>

    <div *ngIf="details.type === 'creator' || 'character'" class="text-comics">
      <h3 *ngIf="details.type === 'creator'">Trabalhou nas seguintes hqs:</h3>
      <h3 *ngIf="details.type === 'character'">Aparições em:</h3>
      <ul class="comics-list">
        <span *ngFor="let comic of details.comics">
          {{comic}}
        </span>
      </ul>
    </div>

    <span class="text-sinopsis">
      {{details.description}}
    </span>

    <!-- <button class="button-variant">See variant covers -></button> -->
  </section>
</div>
