<div class="details-container">
  <section class="image-details-section">
    <img src="../../../assets/teste.jpg">
  </section>

  <section class="text-details-section">
    <span class="text-title">
      Immortal Thor (2023) #2
    </span>

    <span class="text-published">
      <h3>Published:</h3>
      <p>September 27, 2023</p>
    </span>

    <div class="text-writer-penciler">
      <span class="text-writer">
        <h3>Writer:</h3>
        <p>Al Ewing</p>
      </span>
      <span class="text-penciler">
        <h3>Penciler:</h3>
        <p>Martin Coccolo</p>
      </span>
    </div>

    <span class="text-sinopsis">
      ORANOS WALKS THE EARTH! An Elder God of the Utgard-Realm had marked Thor for destruction - and a city with him. Yet the only power that could prevail carried its own terrible price. And all the while, Loki waited - Loki, who took no side and played no favorites...even if it be their own kin. This is the story of THE IMMORTAL THOR...and the hour of his greatest trial.
    </span>

    <button class="button-variant">See variant covers -></button>
  </section>
</div>
