<app-header (sendStep)="changeStep($event)"></app-header>

<main *ngIf="step.name === 'home'">Main</main>

<app-comics *ngIf="step.name === 'quadrinhos'" (openDetailsComic)="openDetails($event)"></app-comics>

<app-events *ngIf="step.name === 'eventos'"></app-events>

<app-creators *ngIf="step.name === 'criadores'"></app-creators>

<app-characters *ngIf="step.name === 'personagens'"></app-characters>

<app-details *ngIf="step.name === 'details'" [details]="details" (sendStep)="changeStep($event)"></app-details>

<!-- <app-footer (sendStep)="changeStep($event)"></app-footer> -->
