app-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  background: url(//p19-marketing-va.bytedgame.com/obj/g-marketing-assets-va/static/media/section01_bgs.b9c2b439.jpg) no-repeat 50%;
}

app-footer {
  width: 100vw;
  display: flex;
  position: absolute;
  top: 90%;
}

app-comics, app-events, app-creators, app-characters, app-details {
  display: flex;
  width: 100%;
  padding-top: 10px;
}
