<div class="events-container"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScroll()">
  <ul *ngIf="eventStep === 'list'" class="events-list">
    <li *ngFor="let event of eventsList" class="events-item" (click)="openEvent(event)">
      <button class="events-button">
        <img src="{{event.thumbnail}}" alt="" class="events-thumbnail">
      </button>
      <span class="events-title">{{event.title}}</span>
      <span class="events-year">{{event.start | date: 'mediumDate'}} - {{event.end | date: 'mediumDate'}}</span>
    </li>
  </ul>

  <app-details *ngIf="eventStep === 'details'" (changeStep)="goBack()" [details]="eventDetails"></app-details>

  <app-loading *ngIf="loading"></app-loading>
</div>
