<div class="events-container">
  <ul *ngIf="eventStep === 'list'" class="events-list">
    <li *ngFor="let event of eventsList" class="events-item" (click)="openEvent(event)">
      <button class="events-button">
        <img src="{{event.thumbnail}}" alt="" class="events-thumbnail">
      </button>
      <span class="events-title">{{event.title}}</span>
      <span class="events-year">{{event.start | date: 'mediumDate'}} - {{event.end | date: 'mediumDate'}}</span>
    </li>
  </ul>

  <app-details *ngIf="eventStep === 'details'" (changeStep)="goBack()" [details]="event"></app-details>
</div>
