.comics-container {
  width: 100%;
  height: 100%;
  padding: 10px 30px 0 30px;

  .comics-list {
    width: 100%;
    padding: 0;
    column-gap: 1%;
    row-gap: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .comics-item {
      width: 192px;
      //max-width: 192px;
      //height: 280px;
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .comics-button {
        width: 100%;
        height: 100%;
        padding: 0;

        .comics-thumbnail {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
